ecf-v5.0-cs01/schema/caserequest.xsd

<?xml version="1.0" encoding="US-ASCII"?>
<!--
     Electronic Court Filing Version 5.0
     Committee Specification 01
     18 April 2019
     Copyright (c) OASIS Open 2019. All Rights Reserved.
     Source: https://docs.oasis-open.org/legalxml-courtfiling/ecf/v5.0/cs01/schema/
     Latest version of narrative specification: http://docs.oasis-open.org/legalxml-courtfiling/ecf/v5.0/ecf-v5.0.html
     TC IPR Statement: https://www.oasis-open.org/committees/legalxml-courtfiling/ipr.php
-->
<!-- Generated by BOUML niemtools plug_out (https://github.com/cabralje/niem-tools) -->
<xs:schema targetNamespace="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/caserequest"
 xmlns="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/caserequest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:caserequest="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/caserequest" xmlns:ecf="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" xmlns:j="http://release.niem.gov/niem/domains/jxdm/6.1/" xmlns:nc="http://release.niem.gov/niem/niem-core/4.0/" xmlns:niem-xs="http://release.niem.gov/niem/proxy/xsd/4.0/" xmlns:structures="http://release.niem.gov/niem/structures/4.0/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clsa="http://reference.niem.gov/niem/specification/code-lists/1.0/code-lists-schema-appinfo/" xmlns:ct="http://release.niem.gov/niem/conformanceTargets/3.0/" xmlns:term="http://release.niem.gov/niem/localTerminology/3.0/" ct:conformanceTargets="http://reference.niem.gov/niem/specification/naming-and-design-rules/3.0/#ExtensionSchemaDocument http://reference.niem.gov/niem/specification/code-lists/1.0/#SchemaDocument" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5.0">
<xs:annotation>
<xs:documentation> Schema for namespace https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/caserequest</xs:documentation>
</xs:annotation><xs:import namespace="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" schemaLocation="ecf.xsd"/><xs:import namespace="http://release.niem.gov/niem/domains/jxdm/6.1/" schemaLocation="niem\domains\jxdm\6.1\jxdm.xsd"/><xs:import namespace="http://release.niem.gov/niem/niem-core/4.0/" schemaLocation="niem\niem-core\4.0\niem-core.xsd"/><xs:import namespace="http://release.niem.gov/niem/proxy/xsd/4.0/" schemaLocation="niem\proxy\xsd\4.0\xs.xsd"/><xs:import namespace="http://release.niem.gov/niem/structures/4.0/" schemaLocation="niem\utility\structures\4.0\structures.xsd"/><xs:complexType name="CaseQueryCriteriaType">
<!--Genericode code list CourtEventTypeCode.gc--><xs:annotation>
<xs:documentation>Criteria limiting the list of cases to be returned.</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="structures:ObjectType">
<xs:sequence>
<xs:element ref="caserequest:CalendarEventTimeRange" minOccurs="0" maxOccurs="1"/>
<xs:element ref="caserequest:DocketEntryTimeRange" minOccurs="0" maxOccurs="1"/>
<xs:element ref="caserequest:DocketEntryTypeCodeFilterText" minOccurs="0" maxOccurs="unbounded"/>
<xs:element ref="caserequest:IncludeCalendarEventIndicator" minOccurs="1" maxOccurs="1"/>
<xs:element ref="caserequest:IncludeDocketEntryIndicator" minOccurs="1" maxOccurs="1"/>
<xs:element ref="caserequest:IncludeParticipantsIndicator" minOccurs="1" maxOccurs="1"/>
<xs:element ref="ecf:CaseTrackingID" minOccurs="0" maxOccurs="1"/>
<xs:element ref="ecf:CourtEventTypeCode" minOccurs="0" maxOccurs="unbounded"/>
<xs:element ref="j:CaseNumberText" minOccurs="1" maxOccurs="1"/>

</xs:sequence>
</xs:extension>

</xs:complexContent>
</xs:complexType>
<xs:complexType name="GetCaseRequestMessageType">
<xs:annotation>
<xs:documentation>A message requesting a case from a court case management information system conforming to the parameter or parameters identified in the message.</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="ecf:RequestMessageType">
<xs:sequence>
<xs:element ref="caserequest:CaseQueryCriteria" minOccurs="1" maxOccurs="1"/>
<xs:element ref="caserequest:GetCaseRequestMessageAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>

</xs:sequence>
</xs:extension>

</xs:complexContent>
</xs:complexType>
<xs:element name="CalendarEventTimeRange" type="nc:DateRangeType">

<xs:annotation>
<xs:documentation>A filter criterion for calendar events. If present, the response should only include calendar events that fall between the from and to dates and times.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="CaseQueryCriteria" type="caserequest:CaseQueryCriteriaType">

<xs:annotation>
<xs:documentation>Criteria limiting the case information to be returned.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="DocketEntryTimeRange" type="nc:DateRangeType">

<xs:annotation>
<xs:documentation>A filter criterion for docket entries. If present, the response should only include docket entries that fall between the from and to dates and times.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="DocketEntryTypeCodeFilterText" type="nc:TextType">

<xs:annotation>
<xs:documentation>Filter criterion indicating that only docket entries of a specified type are being requested.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="GetCaseRequestMessage" type="caserequest:GetCaseRequestMessageType">

<xs:annotation>
<xs:documentation>A message requesting a case from a court case management information system conforming to the parameter or parameters identified in the message.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="GetCaseRequestMessageAugmentationPoint" abstract="true">

<xs:annotation>
<xs:documentation>An extension point for the enclosing message.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="IncludeCalendarEventIndicator" type="niem-xs:boolean">

<xs:annotation>
<xs:documentation>Indicates whether requester wishes calendar event information to be included in the response.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="IncludeDocketEntryIndicator" type="niem-xs:boolean">

<xs:annotation>
<xs:documentation>Indicates whether requester wishes docket entry information to be included in the response.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="IncludeParticipantsIndicator" type="niem-xs:boolean">

<xs:annotation>
<xs:documentation>Indicates whether requester wishes participant information to be included in the response.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:schema>
