ecf-v5.0-cs01/schema/citation.xsd

<?xml version="1.0" encoding="US-ASCII"?>
<!--
     Electronic Court Filing Version 5.0
     Committee Specification 01
     18 April 2019
     Copyright (c) OASIS Open 2019. All Rights Reserved.
     Source: https://docs.oasis-open.org/legalxml-courtfiling/ecf/v5.0/cs01/schema/
     Latest version of narrative specification: http://docs.oasis-open.org/legalxml-courtfiling/ecf/v5.0/ecf-v5.0.html
     TC IPR Statement: https://www.oasis-open.org/committees/legalxml-courtfiling/ipr.php
-->
<!-- Generated by BOUML niemtools plug_out (https://github.com/cabralje/niem-tools) -->
<xs:schema targetNamespace="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/citation"
 xmlns="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/citation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:citation="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/citation" xmlns:ecf="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" xmlns:j="http://release.niem.gov/niem/domains/jxdm/6.1/" xmlns:nc="http://release.niem.gov/niem/niem-core/4.0/" xmlns:niem-xs="http://release.niem.gov/niem/proxy/xsd/4.0/" xmlns:structures="http://release.niem.gov/niem/structures/4.0/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clsa="http://reference.niem.gov/niem/specification/code-lists/1.0/code-lists-schema-appinfo/" xmlns:ct="http://release.niem.gov/niem/conformanceTargets/3.0/" xmlns:term="http://release.niem.gov/niem/localTerminology/3.0/" ct:conformanceTargets="http://reference.niem.gov/niem/specification/naming-and-design-rules/3.0/#ExtensionSchemaDocument http://reference.niem.gov/niem/specification/code-lists/1.0/#SchemaDocument" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5.0">
<xs:annotation>
<xs:documentation> Schema for namespace https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/citation</xs:documentation>
</xs:annotation><xs:import namespace="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" schemaLocation="ecf.xsd"/><xs:import namespace="http://release.niem.gov/niem/domains/jxdm/6.1/" schemaLocation="niem\domains\jxdm\6.1\jxdm.xsd"/><xs:import namespace="http://release.niem.gov/niem/niem-core/4.0/" schemaLocation="niem\niem-core\4.0\niem-core.xsd"/><xs:import namespace="http://release.niem.gov/niem/proxy/xsd/4.0/" schemaLocation="niem\proxy\xsd\4.0\xs.xsd"/><xs:import namespace="http://release.niem.gov/niem/structures/4.0/" schemaLocation="niem\utility\structures\4.0\structures.xsd"/><xs:complexType name="CaseAugmentationType">
<xs:complexContent>
<xs:extension base="structures:AugmentationType">
<xs:sequence>
<xs:element ref="citation:ParkingViolation" minOccurs="0" maxOccurs="1"/>
<xs:element ref="j:Citation" minOccurs="1" maxOccurs="1"/>
<xs:element ref="j:CourtAppearance" minOccurs="0" maxOccurs="1"/>
<xs:element ref="j:DrivingIncident" minOccurs="0" maxOccurs="1"/>
<xs:element ref="j:IncidentViolatedStatuteAssociation" minOccurs="0" maxOccurs="unbounded"/>
<xs:element ref="nc:Vehicle" minOccurs="0" maxOccurs="1"/>

</xs:sequence>
</xs:extension>

</xs:complexContent>
</xs:complexType>
<xs:complexType name="DrivingIncidentAugmentationType">
<xs:complexContent>
<xs:extension base="structures:AugmentationType">
<xs:sequence>
<xs:element ref="citation:RedLightCameraIndicator" minOccurs="0" maxOccurs="1"/>
<xs:element ref="j:ItemTotalDamageValue" minOccurs="0" maxOccurs="1"/>

</xs:sequence>
</xs:extension>

</xs:complexContent>
</xs:complexType>
<xs:complexType name="ParkingViolationType">
<xs:annotation>
<xs:documentation>Information about a parking violation.</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="nc:IncidentType">
<xs:sequence>
<xs:element ref="citation:ParkingFacility" minOccurs="0" maxOccurs="1"/>
<xs:element ref="citation:ParkingMeterSpaceNumber" minOccurs="0" maxOccurs="1"/>

</xs:sequence>
</xs:extension>

</xs:complexContent>
</xs:complexType>
<xs:complexType name="SubjectAugmentationType">
<xs:complexContent>
<xs:extension base="structures:AugmentationType">
<xs:sequence>
<xs:element ref="j:DriverLicense" minOccurs="0" maxOccurs="1"/>
<xs:element ref="j:PersonBloodAlcoholContentNumberText" minOccurs="0" maxOccurs="1"/>

</xs:sequence>
</xs:extension>

</xs:complexContent>
</xs:complexType>
<xs:complexType name="VehicleAugmentationType">
<xs:complexContent>
<xs:extension base="structures:AugmentationType">
<xs:sequence>
<xs:element ref="ecf:VehicleOperatorInsuranceCoverage" minOccurs="0" maxOccurs="1"/>
<xs:element ref="j:ConveyanceRegistration" minOccurs="0" maxOccurs="1"/>

</xs:sequence>
</xs:extension>

</xs:complexContent>
</xs:complexType>
<xs:element name="CaseAugmentation" type="citation:CaseAugmentationType" substitutionGroup="nc:CaseAugmentationPoint" nillable="true">

<xs:annotation>
<xs:documentation>A charge issued by a law enforcement officer for a "violation" requiring the person charged to plead guilty to the charge or to appear in court to contest the charge.  A citation is issued in lieu of an arrest and booking.  "Violations" are a subset of "charges" for which a law enforcement officer is authorized to issue a citation in lieu of arrest and booking.  Examples:  traffic ticket, parking ticket or ticket issued for some other ordinance violation such as barking dog or illegal dumping.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="DrivingIncidentAugmentation" type="citation:DrivingIncidentAugmentationType" substitutionGroup="j:DrivingIncidentAugmentationPoint">

<xs:annotation>
<xs:documentation>The incident from which a traffic ticket arose.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="ParkingFacility" type="nc:FacilityType">

<xs:annotation>
<xs:documentation>The name of a parking facility/lot.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="ParkingMeterSpaceNumber" type="nc:NumericType">

<xs:annotation>
<xs:documentation>An identifier for a parking space or meter.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="ParkingViolation" type="citation:ParkingViolationType">

<xs:annotation>
<xs:documentation>Information about a parking violation.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="RedLightCameraIndicator" type="niem-xs:boolean">

<xs:annotation>
<xs:documentation>An indicator that a automated camera was used to detect traffic signal violations.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="SubjectAugmentation" type="citation:SubjectAugmentationType" substitutionGroup="j:SubjectAugmentationPoint">

<xs:annotation>
<xs:documentation>A person named in a citation alleged to have violated a statute or ordinance.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="VehicleAugmentation" type="citation:VehicleAugmentationType" substitutionGroup="nc:VehicleAugmentationPoint">

<xs:annotation>
<xs:documentation>Information describing a motor vehicle.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:schema>
