ecf-v5.0-cs01/schema/criminal.xsd

<?xml version="1.0" encoding="US-ASCII"?>
<!--
     Electronic Court Filing Version 5.0
     Committee Specification 01
     18 April 2019
     Copyright (c) OASIS Open 2019. All Rights Reserved.
     Source: https://docs.oasis-open.org/legalxml-courtfiling/ecf/v5.0/cs01/schema/
     Latest version of narrative specification: http://docs.oasis-open.org/legalxml-courtfiling/ecf/v5.0/ecf-v5.0.html
     TC IPR Statement: https://www.oasis-open.org/committees/legalxml-courtfiling/ipr.php
-->
<!-- Generated by BOUML niemtools plug_out (https://github.com/cabralje/niem-tools) -->
<xs:schema targetNamespace="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/criminal"
 xmlns="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/criminal" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:criminal="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/criminal" xmlns:j="http://release.niem.gov/niem/domains/jxdm/6.1/" xmlns:nc="http://release.niem.gov/niem/niem-core/4.0/" xmlns:niem-xs="http://release.niem.gov/niem/proxy/xsd/4.0/" xmlns:structures="http://release.niem.gov/niem/structures/4.0/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clsa="http://reference.niem.gov/niem/specification/code-lists/1.0/code-lists-schema-appinfo/" xmlns:ct="http://release.niem.gov/niem/conformanceTargets/3.0/" xmlns:term="http://release.niem.gov/niem/localTerminology/3.0/" ct:conformanceTargets="http://reference.niem.gov/niem/specification/naming-and-design-rules/3.0/#ExtensionSchemaDocument http://reference.niem.gov/niem/specification/code-lists/1.0/#SchemaDocument" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5.0">
<xs:annotation>
<xs:documentation> Schema for namespace https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/criminal</xs:documentation>
</xs:annotation><xs:import namespace="http://release.niem.gov/niem/domains/jxdm/6.1/" schemaLocation="niem\domains\jxdm\6.1\jxdm.xsd"/><xs:import namespace="http://release.niem.gov/niem/niem-core/4.0/" schemaLocation="niem\niem-core\4.0\niem-core.xsd"/><xs:import namespace="http://release.niem.gov/niem/proxy/xsd/4.0/" schemaLocation="niem\proxy\xsd\4.0\xs.xsd"/><xs:import namespace="http://release.niem.gov/niem/structures/4.0/" schemaLocation="niem\utility\structures\4.0\structures.xsd"/><xs:complexType name="CaseAugmentationType">
<xs:complexContent>
<xs:extension base="structures:AugmentationType">
<xs:sequence>
<xs:element ref="criminal:PreliminaryHearingEstimatedDuration" minOccurs="0" maxOccurs="1"/>
<xs:element ref="criminal:ProsecutionRecommendedBailText" minOccurs="0" maxOccurs="1"/>
<xs:element ref="j:Arrest" minOccurs="0" maxOccurs="1"/>
<xs:element ref="j:Citation" minOccurs="0" maxOccurs="1"/>
<xs:element ref="j:Sentence" minOccurs="0" maxOccurs="unbounded"/>

</xs:sequence>
</xs:extension>

</xs:complexContent>
</xs:complexType>
<xs:complexType name="ChargeAugmentationType">
<xs:complexContent>
<xs:extension base="structures:AugmentationType">
<xs:sequence>
<xs:element ref="criminal:ChargeAmendedIndicator" minOccurs="1" maxOccurs="1"/>
<xs:element ref="j:OffenseChargeAssociation" minOccurs="0" maxOccurs="1"/>
<xs:element ref="j:OffenseLocationAssociation" minOccurs="0" maxOccurs="1"/>
<xs:element ref="j:PersonChargeAssociation" minOccurs="1" maxOccurs="1"/>

</xs:sequence>
</xs:extension>

</xs:complexContent>
</xs:complexType>
<xs:complexType name="SentenceAugmentationType">
<xs:complexContent>
<xs:extension base="structures:AugmentationType">
<xs:sequence>
<xs:element ref="criminal:SentenceConcurrentAssociation" minOccurs="0" maxOccurs="unbounded"/>

</xs:sequence>
</xs:extension>

</xs:complexContent>
</xs:complexType>
<xs:element name="CaseAugmentation" type="criminal:CaseAugmentationType" substitutionGroup="nc:CaseAugmentationPoint">

<xs:annotation>
<xs:documentation>Information required to initiate a new criminal case in a court.  "Criminal" includes felonies and misdemeanors.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="ChargeAmendedIndicator" type="niem-xs:boolean">

<xs:annotation>
<xs:documentation>An indicator that the charge submitted amends an earlier submitted charge.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="ChargeAugmentation" type="criminal:ChargeAugmentationType" substitutionGroup="j:ChargeAugmentationPoint">

<xs:annotation>
<xs:documentation>The crime or violation a defendant is alleged or found to have committed.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="PreliminaryHearingEstimatedDuration" type="niem-xs:duration">

<xs:annotation>
<xs:documentation>The prosecutor estimate of the time that will be required to conduct a preliminary hearing.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="ProsecutionRecommendedBailText" type="nc:TextType">

<xs:annotation>
<xs:documentation>The bail amount recommended by the prosecutor.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="SentenceAugmentation" type="criminal:SentenceAugmentationType" substitutionGroup="j:SentenceAugmentationPoint">

<xs:annotation>
<xs:documentation>A sentence associated with a specific charge in a case. A sentence may have multiple components (prison, probation, post-incarceration supervision/probation fine, etc.).</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="SentenceConcurrentAssociation" type="nc:RelatedActivityAssociationType">

<xs:annotation>
<xs:documentation>Reference to another sentence which is to be served concurrent with this sentence.  In the case of multiple sentences without references to concurrent sentences, they are assumed to be served consecutively.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:schema>
