ecf-v5.0-cs01/schema/docket.xsd

<?xml version="1.0" encoding="US-ASCII"?>
<!--
     Electronic Court Filing Version 5.0
     Committee Specification 01
     18 April 2019
     Copyright (c) OASIS Open 2019. All Rights Reserved.
     Source: https://docs.oasis-open.org/legalxml-courtfiling/ecf/v5.0/cs01/schema/
     Latest version of narrative specification: http://docs.oasis-open.org/legalxml-courtfiling/ecf/v5.0/ecf-v5.0.html
     TC IPR Statement: https://www.oasis-open.org/committees/legalxml-courtfiling/ipr.php
-->
<!-- Generated by BOUML niemtools plug_out (https://github.com/cabralje/niem-tools) -->
<xs:schema targetNamespace="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/docket"
 xmlns="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/docket" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:docket="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/docket" xmlns:ecf="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" xmlns:filing="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/filing" xmlns:nc="http://release.niem.gov/niem/niem-core/4.0/" xmlns:niem-xs="http://release.niem.gov/niem/proxy/xsd/4.0/" xmlns:structures="http://release.niem.gov/niem/structures/4.0/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clsa="http://reference.niem.gov/niem/specification/code-lists/1.0/code-lists-schema-appinfo/" xmlns:ct="http://release.niem.gov/niem/conformanceTargets/3.0/" xmlns:term="http://release.niem.gov/niem/localTerminology/3.0/" ct:conformanceTargets="http://reference.niem.gov/niem/specification/naming-and-design-rules/3.0/#ExtensionSchemaDocument http://reference.niem.gov/niem/specification/code-lists/1.0/#SchemaDocument" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5.0">
<xs:annotation>
<xs:documentation> Schema for namespace https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/docket</xs:documentation>
</xs:annotation><xs:import namespace="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" schemaLocation="ecf.xsd"/><xs:import namespace="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/filing" schemaLocation="filing.xsd"/><xs:import namespace="http://release.niem.gov/niem/niem-core/4.0/" schemaLocation="niem\niem-core\4.0\niem-core.xsd"/><xs:import namespace="http://release.niem.gov/niem/proxy/xsd/4.0/" schemaLocation="niem\proxy\xsd\4.0\xs.xsd"/><xs:import namespace="http://release.niem.gov/niem/structures/4.0/" schemaLocation="niem\utility\structures\4.0\structures.xsd"/><xs:complexType name="RecordDocketingMessageType">
<xs:annotation>
<xs:documentation>Message resulting from clerk review and edit of a ReviewFilingMessage.</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="ecf:CaseFilingType">
<xs:sequence>
<xs:element ref="docket:CorrectedCase" minOccurs="0" maxOccurs="1"/>
<xs:element ref="docket:FilingReviewCommentsText" minOccurs="0" maxOccurs="1"/>
<xs:element ref="docket:RecordDocketingMessageAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>
<xs:element ref="docket:SealCaseIndicator" minOccurs="0" maxOccurs="1"/>
<xs:element ref="ecf:ConnectedDocumentReview" minOccurs="0" maxOccurs="unbounded"/>
<xs:element ref="ecf:LeadDocumentReview" minOccurs="1" maxOccurs="unbounded"/>
<xs:element ref="filing:FilingMessage" minOccurs="1" maxOccurs="1"/>

</xs:sequence>
</xs:extension>

</xs:complexContent>
</xs:complexType>
<xs:element name="CorrectedCase" type="nc:CaseType">

<xs:annotation>
<xs:documentation>The court case in which the filing is being docketed.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="FilingReviewCommentsText" type="nc:TextType">

<xs:annotation>
<xs:documentation>Comments provided by the clerk to the court record system during review.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="RecordDocketingMessage" type="docket:RecordDocketingMessageType">

<xs:annotation>
<xs:documentation>Message resulting from clerk review and edit of a ReviewFilingMessage.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="RecordDocketingMessageAugmentationPoint" abstract="true">

<xs:annotation>
<xs:documentation>An extension point for the enclosing message.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="SealCaseIndicator" type="niem-xs:boolean">

<xs:annotation>
<xs:documentation>Instruction from the clerk to the court record to represent this case as "sealed."</xs:documentation>
</xs:annotation>
</xs:element>
</xs:schema>
