ecf-v5.0-cs01/schema/ecf.xsd

<?xml version="1.0" encoding="US-ASCII"?>
<!--
     Electronic Court Filing Version 5.0
     Committee Specification 01
     18 April 2019
     Copyright (c) OASIS Open 2019. All Rights Reserved.
     Source: https://docs.oasis-open.org/legalxml-courtfiling/ecf/v5.0/cs01/schema/
     Latest version of narrative specification: http://docs.oasis-open.org/legalxml-courtfiling/ecf/v5.0/ecf-v5.0.html
     TC IPR Statement: https://www.oasis-open.org/committees/legalxml-courtfiling/ipr.php
-->
<!-- Generated by BOUML niemtools plug_out (https://github.com/cabralje/niem-tools) -->
<xs:schema targetNamespace="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf"
 xmlns="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:biom="http://release.niem.gov/niem/domains/biometrics/4.1/" xmlns:cbrn="http://release.niem.gov/niem/domains/cbrn/4.1/" xmlns:ecf="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" xmlns:j="http://release.niem.gov/niem/domains/jxdm/6.1/" xmlns:nc="http://release.niem.gov/niem/niem-core/4.0/" xmlns:niem-xs="http://release.niem.gov/niem/proxy/xsd/4.0/" xmlns:structures="http://release.niem.gov/niem/structures/4.0/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clsa="http://reference.niem.gov/niem/specification/code-lists/1.0/code-lists-schema-appinfo/" xmlns:ct="http://release.niem.gov/niem/conformanceTargets/3.0/" xmlns:term="http://release.niem.gov/niem/localTerminology/3.0/" ct:conformanceTargets="http://reference.niem.gov/niem/specification/naming-and-design-rules/3.0/#ExtensionSchemaDocument http://reference.niem.gov/niem/specification/code-lists/1.0/#SchemaDocument" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5.0">
<xs:annotation>
<xs:documentation> Schema for namespace https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf</xs:documentation>
</xs:annotation><xs:import namespace="http://release.niem.gov/niem/domains/biometrics/4.1/" schemaLocation="niem\domains\biometrics\4.1\biom.xsd"/><xs:import namespace="http://release.niem.gov/niem/domains/cbrn/4.1/" schemaLocation="niem\domains\cbrn\4.1\cbrn.xsd"/><xs:import namespace="http://release.niem.gov/niem/domains/jxdm/6.1/" schemaLocation="niem\domains\jxdm\6.1\jxdm.xsd"/><xs:import namespace="http://release.niem.gov/niem/niem-core/4.0/" schemaLocation="niem\niem-core\4.0\niem-core.xsd"/><xs:import namespace="http://release.niem.gov/niem/proxy/xsd/4.0/" schemaLocation="niem\proxy\xsd\4.0\xs.xsd"/><xs:import namespace="http://release.niem.gov/niem/structures/4.0/" schemaLocation="niem\utility\structures\4.0\structures.xsd"/><xs:complexType name="CallbackMessageType">
<xs:annotation>
<xs:documentation>The base message for an asynchronous response to a message.</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="ecf:CaseFilingType">
<xs:sequence>
<xs:element ref="ecf:ConnectedDocumentReview" minOccurs="0" maxOccurs="unbounded"/>
<xs:element ref="ecf:FilingCompletionDate" minOccurs="0" maxOccurs="1"/>
<xs:element ref="ecf:FilingStatus" minOccurs="1" maxOccurs="1"/>
<xs:element ref="ecf:LeadDocumentReview" minOccurs="1" maxOccurs="unbounded"/>
<xs:element ref="nc:Case" minOccurs="1" maxOccurs="1"/>

</xs:sequence>
</xs:extension>

</xs:complexContent>
</xs:complexType>
<xs:complexType name="CaseAugmentationType">
<!--Genericode code list CaseCategoryCode.gc--><xs:complexContent>
<xs:extension base="structures:AugmentationType">
<xs:sequence>
<xs:element ref="ecf:CaseCategoryCode" minOccurs="0" maxOccurs="1"/>
<xs:element ref="ecf:CaseNewIndicator" minOccurs="0" maxOccurs="1"/>
<xs:element ref="ecf:CaseParty" minOccurs="0" maxOccurs="unbounded"/>
<xs:element ref="ecf:CaseShortTitleText" minOccurs="0" maxOccurs="1"/>
<xs:element ref="ecf:CaseTrackingID" minOccurs="0" maxOccurs="unbounded"/>
<xs:element ref="ecf:CaseTypeCode" minOccurs="0" maxOccurs="1"/>
<xs:element ref="j:CaseNumberText" minOccurs="0" maxOccurs="1"/>
<xs:element ref="nc:Metadata" minOccurs="0" maxOccurs="unbounded"/>
<xs:element ref="nc:OrganizationAssociation" minOccurs="0" maxOccurs="unbounded"/>
<xs:element ref="nc:PersonAssociation" minOccurs="0" maxOccurs="unbounded"/>
<xs:element ref="nc:PersonOrganizationAssociation" minOccurs="0" maxOccurs="unbounded"/>

</xs:sequence>
</xs:extension>

</xs:complexContent>
</xs:complexType>
<xs:complexType name="CaseFilingType">
<xs:annotation>
<xs:documentation>The core information contained in an ECF 5.0 message.</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="nc:DocumentType">
<xs:sequence>
<xs:element ref="ecf:SendingMDELocationID" minOccurs="1" maxOccurs="1"/>
<xs:element ref="ecf:ServiceInteractionProfileCode" minOccurs="1" maxOccurs="1"/>
<xs:element ref="j:CaseCourt" minOccurs="1" maxOccurs="1"/>
<xs:element ref="nc:DocumentInformationCutOffDate" minOccurs="0" maxOccurs="1"/>
<xs:element ref="nc:DocumentPostDate" minOccurs="1" maxOccurs="1"/>

</xs:sequence>
</xs:extension>

</xs:complexContent>
</xs:complexType>
<xs:complexType name="CaseOfficialAugmentationType">
<xs:complexContent>
<xs:extension base="structures:AugmentationType">
<xs:sequence>
<xs:element ref="ecf:CaseRepresentedParty" minOccurs="0" maxOccurs="unbounded"/>

</xs:sequence>
</xs:extension>

</xs:complexContent>
</xs:complexType>
<xs:complexType name="CourtEventActorType">
<xs:annotation>
<xs:documentation>The actor who performed the action as set forth in the docket entry. E.g. the person who filed the document.  Does not include the name of the court clerk composing the docket entry.</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="structures:ObjectType">
<xs:sequence>
<xs:element ref="nc:RoleOfAbstract" minOccurs="1" maxOccurs="1"/>

</xs:sequence>
</xs:extension>

</xs:complexContent>
</xs:complexType>
<xs:complexType name="CourtEventAugmentationType">
<!--Genericode code list CourtEventTypeCode.gc; Genericode code list CourtLocationCode.gc--><xs:complexContent>
<xs:extension base="structures:AugmentationType">
<xs:sequence>
<xs:element ref="ecf:ChildDocket" minOccurs="0" maxOccurs="unbounded"/>
<xs:element ref="ecf:ConnectedDocument" minOccurs="0" maxOccurs="unbounded"/>
<xs:element ref="ecf:CourtEventActor" minOccurs="0" maxOccurs="unbounded"/>
<xs:element ref="ecf:CourtEventEnteredOnDocketDate" minOccurs="0" maxOccurs="1"/>
<xs:element ref="ecf:CourtEventLocationText" minOccurs="0" maxOccurs="1"/>
<xs:element ref="ecf:CourtEventOnBehalfOfActor" minOccurs="0" maxOccurs="1"/>
<xs:element ref="ecf:CourtEventTypeCode" minOccurs="1" maxOccurs="1"/>
<xs:element ref="ecf:CourtLocationCode" minOccurs="0" maxOccurs="1"/>
<xs:element ref="nc:CaseDocketID" minOccurs="0" maxOccurs="unbounded"/>

</xs:sequence>
</xs:extension>

</xs:complexContent>
</xs:complexType>
<xs:complexType name="CourtEventOnBehalfOfActorType">
<xs:annotation>
<xs:documentation>The actor on whose behalf the filing was submitted to the court as set forth in the docket entry.</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="structures:ObjectType">
<xs:sequence>
<xs:element ref="nc:RoleOfAbstract" minOccurs="0" maxOccurs="1"/>

</xs:sequence>
</xs:extension>

</xs:complexContent>
</xs:complexType>
<xs:complexType name="DocumentAssociationAugmentationType">
<!--Genericode code list DocumentRelatedCode.gc--><xs:complexContent>
<xs:extension base="structures:AugmentationType">
<xs:sequence>
<xs:element ref="ecf:DocumentRelatedCode" minOccurs="1" maxOccurs="1"/>

</xs:sequence>
</xs:extension>

</xs:complexContent>
</xs:complexType>
<xs:complexType name="DocumentAugmentationType">
<!--Genericode code list RegisterActionDescriptionCode.gc; Reference nc:Metadata with nc:Document/@structures:metadata; Genericode codelist ecf:DocumentTypeCode.gc--><xs:complexContent>
<xs:extension base="structures:AugmentationType">
<xs:sequence>
<xs:element ref="ecf:AffectedParticipant" minOccurs="0" maxOccurs="1"/>
<xs:element ref="ecf:DocumentFiler" minOccurs="0" maxOccurs="unbounded"/>
<xs:element ref="ecf:DocumentRendition" minOccurs="0" maxOccurs="unbounded"/>
<xs:element ref="ecf:DocumentStatus" minOccurs="0" maxOccurs="1"/>
<xs:element ref="ecf:DocumentTypeCode" minOccurs="0" maxOccurs="1"/>
<xs:element ref="ecf:RedactionRequiredIndicator" minOccurs="0" maxOccurs="1"/>
<xs:element ref="ecf:RegisterActionDescriptionCode" minOccurs="0" maxOccurs="1"/>
<xs:element ref="ecf:SpecialHandlingInstructionsText" minOccurs="0" maxOccurs="1"/>
<xs:element ref="nc:DocumentAssociation" minOccurs="0" maxOccurs="1"/>
<xs:element ref="nc:Metadata" minOccurs="0" maxOccurs="unbounded"/>

</xs:sequence>
</xs:extension>

</xs:complexContent>
</xs:complexType>
<xs:complexType name="DocumentRenditionType">
<!--Genericode code list MultimediaDataMIMEKindText.gc--><xs:annotation>
<xs:documentation>Descriptors for a rendition of a Document. This is meant to include all the information about the document that is needed to  enter it into the Document Management System.</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="nc:DocumentType">
<xs:sequence>
<xs:element ref="cbrn:MultimediaDataMIMEKindText" minOccurs="0" maxOccurs="1"/>
<xs:element ref="ecf:ColorRelevantIndicator" minOccurs="0" maxOccurs="1"/>
<xs:element ref="ecf:DocumentRenditionHash" minOccurs="0" maxOccurs="1"/>
<xs:element ref="ecf:DocumentSignature" minOccurs="0" maxOccurs="1"/>
<xs:element ref="ecf:RedactedIndicator" minOccurs="0" maxOccurs="1"/>
<xs:element ref="nc:Attachment" minOccurs="1" maxOccurs="1"/>

</xs:sequence>
</xs:extension>

</xs:complexContent>
</xs:complexType>
<xs:complexType name="DocumentReviewDispositionType">
<xs:annotation>
<xs:documentation>The disposition of a document after review.</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="structures:ObjectType">
<xs:sequence>
<xs:element ref="ecf:DocumentAddedInReviewIndicator" minOccurs="0" maxOccurs="1"/>
<xs:element ref="ecf:DocumentReviewStatus" minOccurs="0" maxOccurs="1"/>
<xs:element ref="ecf:DocumentReviewer" minOccurs="0" maxOccurs="1"/>

</xs:sequence>
</xs:extension>

</xs:complexContent>
</xs:complexType>
<xs:complexType name="DocumentReviewType">
<xs:complexContent>
<xs:extension base="structures:ObjectType">
<xs:sequence>
<xs:element ref="ecf:Document" minOccurs="0" maxOccurs="1"/>
<xs:element ref="ecf:DocumentReviewDisposition" minOccurs="1" maxOccurs="1"/>
<xs:element ref="ecf:ReviewedDocument" minOccurs="1" maxOccurs="1"/>

</xs:sequence>
</xs:extension>

</xs:complexContent>
</xs:complexType>
<xs:complexType name="DocumentSignatureType">
<xs:annotation>
<xs:documentation>Information describing or constituting the signature on a document submitted to a court for filing.</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="structures:ObjectType">
<xs:sequence>
<xs:element ref="ecf:SignatureAugmentation" minOccurs="0" maxOccurs="1"/>
<xs:element ref="ecf:SignatureProfileCode" minOccurs="1" maxOccurs="1"/>

</xs:sequence>
</xs:extension>

</xs:complexContent>
</xs:complexType>
<xs:complexType name="DocumentStatusType">
<!--Genericode code list DocumentDocketingStatusCode; Genericode code list DocumentReviewStatusCode.gc--><xs:annotation>
<xs:documentation>The docketing status of a document</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="nc:StatusType">
<xs:sequence>
<xs:element ref="ecf:DocumentDocketingStatusCode" minOccurs="0" maxOccurs="1"/>
<xs:element ref="ecf:DocumentReviewStatusCode" minOccurs="0" maxOccurs="1"/>

</xs:sequence>
</xs:extension>

</xs:complexContent>
</xs:complexType>
<xs:complexType name="DocumentType">
<xs:complexContent>
<xs:extension base="structures:ObjectType">
<xs:sequence>

</xs:sequence>
</xs:extension>

</xs:complexContent>
</xs:complexType>
<xs:complexType name="ElectronicServiceInformationType">
<xs:annotation>
<xs:documentation>Information provided by the filing assembly MDE to the court identifying the persons being served electronically with a copy of this filing. This information can constitute the certificate of service for service performed electronically. This information is also provided by the filing assembly MDE to service MDEs to identify persons to whom the service MDEs are required to deliver the filing.</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="structures:ObjectType">
<xs:sequence>
<xs:element ref="ecf:ReceivingMDELocationID" minOccurs="1" maxOccurs="1"/>
<xs:element ref="ecf:ReceivingMDEProfileCode" minOccurs="1" maxOccurs="1"/>
<xs:element ref="ecf:ServiceRecipientID" minOccurs="1" maxOccurs="1"/>

</xs:sequence>
</xs:extension>

</xs:complexContent>
</xs:complexType>
<xs:complexType name="FilingStatusType">
<!--Genericode code list FilingDocketingStatusCode.gc; Genericode code list FilingReviewStatusCode.gc--><xs:annotation>
<xs:documentation>A textual description of the reason for the setting of the status in the filingStatusCode.</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="nc:StatusType">
<xs:sequence>
<xs:element ref="ecf:FilingDocketingStatusCode" minOccurs="0" maxOccurs="1"/>
<xs:element ref="ecf:FilingReviewStatusCode" minOccurs="1" maxOccurs="1"/>

</xs:sequence>
</xs:extension>

</xs:complexContent>
</xs:complexType>
<xs:complexType name="InsuranceType">
<xs:annotation>
<xs:documentation>Insurance coverage for an individual.</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="nc:InsuranceType">
<xs:sequence>

</xs:sequence>
</xs:extension>

</xs:complexContent>
</xs:complexType>
<xs:complexType name="ItemAugmentationType">
<xs:complexContent>
<xs:extension base="structures:AugmentationType">
<xs:sequence>
<xs:element ref="ecf:CaseParticipantRoleCode" minOccurs="1" maxOccurs="unbounded"/>
<xs:element ref="ecf:CasePartySelfRepresentationIndicator" minOccurs="0" maxOccurs="1"/>
<xs:element ref="ecf:ParticipantID" minOccurs="0" maxOccurs="1"/>

</xs:sequence>
</xs:extension>

</xs:complexContent>
</xs:complexType>
<xs:complexType name="MatchingFilingType">
<xs:annotation>
<xs:documentation>A filing matching the parameters submitted with a FilingListQueryMessage.</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="ecf:CallbackMessageType">
<xs:sequence>

</xs:sequence>
</xs:extension>

</xs:complexContent>
</xs:complexType>
<xs:complexType name="MessageStatusAugmentationType">
<!--Genericode code list ServiceStatusCode.gc--><xs:complexContent>
<xs:extension base="structures:AugmentationType">
<xs:sequence>
<xs:element ref="ecf:ServiceRecipientID" minOccurs="0" maxOccurs="1"/>
<xs:element ref="ecf:ServiceStatusCode" minOccurs="0" maxOccurs="1"/>
<xs:element ref="nc:DocumentIdentification" minOccurs="1" maxOccurs="unbounded"/>

</xs:sequence>
</xs:extension>

</xs:complexContent>
</xs:complexType>
<xs:complexType name="OrganizationAssociationAugmentationType">
<!--Genericode code list EntityAssociationTypeCode.gc--><xs:complexContent>
<xs:extension base="structures:AugmentationType">
<xs:sequence>
<xs:element ref="ecf:EntityAssociationTypeCode" minOccurs="0" maxOccurs="1"/>

</xs:sequence>
</xs:extension>

</xs:complexContent>
</xs:complexType>
<xs:complexType name="OrganizationAugmentationType">
<xs:complexContent>
<xs:extension base="structures:AugmentationType">
<xs:sequence>
<xs:element ref="ecf:CaseParticipantRoleCode" minOccurs="1" maxOccurs="unbounded"/>
<xs:element ref="ecf:CasePartySelfRepresentationIndicator" minOccurs="0" maxOccurs="1"/>
<xs:element ref="ecf:ElectronicServiceInformation" minOccurs="0" maxOccurs="1"/>
<xs:element ref="ecf:ParticipantID" minOccurs="0" maxOccurs="1"/>
<xs:element ref="nc:ContactInformation" minOccurs="0" maxOccurs="unbounded"/>

</xs:sequence>
</xs:extension>

</xs:complexContent>
</xs:complexType>
<xs:complexType name="PersonAssociationAugmentationType">
<xs:complexContent>
<xs:extension base="structures:AugmentationType">
<xs:sequence>
<xs:element ref="ecf:EntityAssociationTypeCode" minOccurs="0" maxOccurs="1"/>

</xs:sequence>
</xs:extension>

</xs:complexContent>
</xs:complexType>
<xs:complexType name="PersonAugmentationType">
<!--Genericode code list ecf:CaseParticipantRoleCode.gc--><xs:complexContent>
<xs:extension base="structures:AugmentationType">
<xs:sequence>
<xs:element ref="ecf:CaseParticipantRoleCode" minOccurs="0" maxOccurs="unbounded"/>
<xs:element ref="ecf:CasePartySelfRepresentationIndicator" minOccurs="0" maxOccurs="1"/>
<xs:element ref="ecf:ElectronicServiceInformation" minOccurs="0" maxOccurs="1"/>
<xs:element ref="ecf:ParticipantID" minOccurs="0" maxOccurs="1"/>
<xs:element ref="nc:ContactInformation" minOccurs="0" maxOccurs="unbounded"/>
<xs:element ref="nc:Insurance" minOccurs="0" maxOccurs="unbounded"/>
<xs:element ref="nc:PersonEmploymentAssociation" minOccurs="0" maxOccurs="1"/>

</xs:sequence>
</xs:extension>

</xs:complexContent>
</xs:complexType>
<xs:complexType name="PersonOrganizationAssociationAugmentationType">
<xs:complexContent>
<xs:extension base="structures:AugmentationType">
<xs:sequence>
<xs:element ref="ecf:EntityAssociationTypeCode" minOccurs="0" maxOccurs="1"/>

</xs:sequence>
</xs:extension>

</xs:complexContent>
</xs:complexType>
<xs:complexType name="RelatedActivityAssociationAugmentationType">
<!--Genericode code list RelatedCaseAssociationTypeCode.gc--><xs:complexContent>
<xs:extension base="structures:AugmentationType">
<xs:sequence>
<xs:element ref="ecf:RelatedCaseAssociationTypeCode" minOccurs="0" maxOccurs="1"/>

</xs:sequence>
</xs:extension>

</xs:complexContent>
</xs:complexType>
<xs:complexType name="RequestMessageType">
<xs:annotation>
<xs:documentation>The base message for a synchronous request/query.</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="ecf:CaseFilingType">
<xs:sequence>

</xs:sequence>
</xs:extension>

</xs:complexContent>
</xs:complexType>
<xs:complexType name="ResponseMessageType">
<xs:annotation>
<xs:documentation>The base message for a synchronous response to a request.</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="ecf:CaseFilingType">
<xs:sequence>
<xs:element ref="cbrn:MessageStatus" minOccurs="0" maxOccurs="1"/>

</xs:sequence>
</xs:extension>

</xs:complexContent>
</xs:complexType>
<xs:complexType name="ReviewedDocumentAugmentationType">
<xs:complexContent>
<xs:extension base="structures:AugmentationType">
<xs:sequence>
<xs:element ref="ecf:SealDocumentIndicator" minOccurs="0" maxOccurs="1"/>
<xs:element ref="nc:CaseDocketID" minOccurs="0" maxOccurs="1"/>
<xs:element ref="nc:DocumentAssociation" minOccurs="0" maxOccurs="1"/>

</xs:sequence>
</xs:extension>

</xs:complexContent>
</xs:complexType>
<xs:complexType name="ReviewedDocumentType">
<xs:annotation>
<xs:documentation>A document that has been reviewed through the clerk review process, and that potentially has been or will be reocrded in the court record system.</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="nc:DocumentType">
<xs:sequence>
<xs:element ref="ecf:ReviewedDocumentAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>

</xs:sequence>
</xs:extension>

</xs:complexContent>
</xs:complexType>
<xs:complexType name="SignatureAugmentationType">
<xs:annotation>
<xs:documentation>An augmentation type</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="structures:AugmentationType">
<xs:sequence>
<xs:any/>
</xs:sequence>
</xs:extension>

</xs:complexContent>
</xs:complexType>
<xs:complexType name="SubjectAugmentationType">
<xs:complexContent>
<xs:extension base="structures:AugmentationType">
<xs:sequence>
<xs:element ref="biom:Biometric" minOccurs="0" maxOccurs="1"/>
<xs:element ref="ecf:SubjectWarrantIssuedIndicator" minOccurs="0" maxOccurs="1"/>
<xs:element ref="j:RapSheetTransactionControlIdentification" minOccurs="0" maxOccurs="1"/>

</xs:sequence>
</xs:extension>

</xs:complexContent>
</xs:complexType>
<xs:element name="AffectedParticipant" type="nc:EntityType">

<xs:annotation>
<xs:documentation>Identifier recognized by the court as being unique within this case,and used to identify a party other than the filer who is affected by the document.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="CaseAugmentation" type="ecf:CaseAugmentationType" substitutionGroup="nc:CaseAugmentationPoint" nillable="true">
<!--Reference nc:Metadata with nc:Case/@strutures:metadata-->
<xs:annotation>
<xs:documentation>Information about a court case.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="CaseCategoryCode" type="nc:TextType">
<!--Genericode code list CaseCategoryCode.gc-->
<xs:annotation>
<xs:documentation>The type of trial in the lower court (e.g. bench, jury).</xs:documentation>
<xs:appinfo><clsa:SimpleCodeListBinding codeListURI="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/CaseCategoryCode"/> </xs:appinfo></xs:annotation>
</xs:element>
<xs:element name="CaseCauseOfActionCode" type="nc:TextType">

<xs:annotation>
<xs:documentation>The legal ground on which the request for relief is based.  Allowed values set forth in court policy. Example: the basis(es) for relief in a civil case; the grounds for divorce in a state that does not recognize no-fault divorce; grounds for entry of an order of protection in a domestic violence case.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="CaseFiling" type="ecf:CaseFilingType">

<xs:annotation>
<xs:documentation>The base message for a message with an asynchronous response.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="CaseNewIndicator" type="niem-xs:boolean">

<xs:annotation>
<xs:documentation>Indicates that the case is new.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="CaseOfficialAugmentation" type="ecf:CaseOfficialAugmentationType" substitutionGroup="j:CaseOfficialAugmentationPoint">

<xs:annotation>
<xs:documentation>The role played by an attorney in this case.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="CaseParticipantRoleCode" type="nc:TextType">
<!--Genericode code list ecf:CaseParticipantRoleCode.gc-->
<xs:annotation>
<xs:documentation>A type of participant in a court case</xs:documentation>
<xs:appinfo><clsa:SimpleCodeListBinding codeListURI="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/CaseParticipantRoleCode"/> </xs:appinfo></xs:annotation>
</xs:element>
<xs:element name="CaseParty" type="nc:EntityType">

<xs:annotation>
<xs:documentation>A person alleged or found to have committed a crime or violation.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="CasePartySelfRepresentationIndicator" type="niem-xs:boolean">

<xs:annotation>
<xs:documentation>Person or organization representing themselves, with (e.g. advisory counsel) or  without an attorney</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="CaseRepresentedParty" type="nc:EntityType">

<xs:annotation>
<xs:documentation>A party represented by an attorney</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="CaseShortTitleText" type="nc:TextType">

<xs:annotation>
<xs:documentation>An abbreviated official name of a Case, usually shortened to contain only the last name of the first listed party on each side of the case.  Examples: Smith v. Jones, et al.; State v. Alexander. No title exists when the message is initiating a new case.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="CaseTrackingID" type="nc:IdentificationType">

<xs:annotation>
<xs:documentation>Court case number.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="CaseTypeCode" type="niem-xs:normalizedString">
<!--Genericode code list CaseTypeCode.gc-->
<xs:annotation>
<xs:documentation>Indicates whether the e-filing system supports electronic filing of a certain case type.</xs:documentation>
<xs:appinfo><clsa:SimpleCodeListBinding codeListURI="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/CaseTypeCode"/> </xs:appinfo></xs:annotation>
</xs:element>
<xs:element name="CauseOfActionCode" type="nc:TextType">
<!--Genericode code list CauseOfActionCode.gc-->
<xs:annotation>
<xs:documentation>The legal ground on which the request for relief is based.  Allowed values set forth in court policy. Example: the basis(es) for relief in a civil case; the grounds for divorce in a state that does not recognize no-fault divorce; grounds for entry of an order of protection in a domestic violence case.</xs:documentation>
<xs:appinfo><clsa:SimpleCodeListBinding codeListURI="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/CauseOfActionCode"/> </xs:appinfo></xs:annotation>
</xs:element>
<xs:element name="ChildDocket" type="j:CourtEventType">

<xs:annotation>
<xs:documentation>An entry on the docket or register of actions that is a child of the current docket entry.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="ColorRelevantIndicator" type="niem-xs:boolean">

<xs:annotation>
<xs:documentation>Indicates whether color is or is not relevant for the presentation of the document.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="ConnectedDocument" type="nc:DocumentType" nillable="true">

<xs:annotation>
<xs:documentation>The pleading, motion or order that is the subject of this docket entry.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="ConnectedDocumentReview" type="ecf:DocumentReviewType">

<xs:annotation>
<xs:documentation>The review process for a connected document</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="CourtEventActor" type="ecf:CourtEventOnBehalfOfActorType">

<xs:annotation>
<xs:documentation>The actor who performed the action as set forth in the docket entry.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="CourtEventAugmentation" type="ecf:CourtEventAugmentationType" substitutionGroup="j:CourtEventAugmentationPoint">

<xs:annotation>
<xs:documentation>An entry in the docket or register of actions for a case.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="CourtEventEnteredOnDocketDate" type="nc:DateType">

<xs:annotation>
<xs:documentation>Date and time of entry into the court record.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="CourtEventLocationText" type="nc:TextType">

<xs:annotation>
<xs:documentation>A textual description of the location in a court of the calendar event.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="CourtEventOnBehalfOfActor" type="ecf:CourtEventActorType">

<xs:annotation>
<xs:documentation>The actor on whose behalf the filing was submitted to the court as set forth in the docket entry.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="CourtEventTypeCode" type="nc:TextType">
<!--Genericode code list CourtEventTypeCode.gc-->
<xs:annotation>
<xs:documentation>Filter criterion indicating that only calendar entries of a specified type are being requested.</xs:documentation>
<xs:appinfo><clsa:SimpleCodeListBinding codeListURI="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/CourtEventTypeCode"/> </xs:appinfo></xs:annotation>
</xs:element>
<xs:element name="CourtLocationCode" type="nc:TextType">
<!--Genericode code list CourtLocationCode.gc-->
<xs:annotation>
<xs:documentation>A court location</xs:documentation>
<xs:appinfo><clsa:SimpleCodeListBinding codeListURI="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/CourtLocationCode"/> </xs:appinfo></xs:annotation>
</xs:element>
<xs:element name="Document" type="ecf:DocumentType" nillable="true">

<xs:annotation>
<xs:documentation>This association will be present for each document that the clerk review process approves for sending to the court record system (where it may be rejected or recorded.)</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="DocumentAddedInReviewIndicator" type="niem-xs:boolean">

<xs:annotation>
<xs:documentation>Indicator that a document was added curing clerk review</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="DocumentAssociationAugmentation" type="ecf:DocumentAssociationAugmentationType" substitutionGroup="nc:DocumentAssociationAugmentationPoint">

<xs:annotation>
<xs:documentation>A related document that was previously filed in this case.  For instance, the document to which this document is a response.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="DocumentAugmentation" type="ecf:DocumentAugmentationType" substitutionGroup="nc:DocumentAugmentationPoint" nillable="true">

<xs:annotation>
<xs:documentation>The pleading, motion or order that is the main document in a Filing. A Document may have Connected Documents, which are "appendices" or "exhibits" that are intended for filing only in the context of the Lead Document.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="DocumentDocketingStatusCode" type="niem-xs:normalizedString">
<!--Genericode code list DocumentReviewStatusCode.gc-->
<xs:annotation>
<xs:documentation>Code to describe the disposition of the document: accepted or rejected.  Allowable values defined in the specification (schema).</xs:documentation>
<xs:appinfo><clsa:SimpleCodeListBinding codeListURI="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/DocumentDocketingStatusCode"/> </xs:appinfo></xs:annotation>
</xs:element>
<xs:element name="DocumentFiler" type="nc:EntityType">

<xs:annotation>
<xs:documentation>An attorney, judicial official or a pro se (self-represented) litigant who electronically provides  filings (combinations of data and documents) for acceptance and filing by a court, or who has successfully filed filings with a court.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="DocumentRelatedCode" type="niem-xs:normalizedString">
<!--Genericode code list DocumentRelatedCode.gc-->
<xs:annotation>
<xs:documentation>A type of related document that was previously filed in this case.  For instance, the document to which this document is a response.</xs:documentation>
<xs:appinfo><clsa:SimpleCodeListBinding codeListURI="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/DocumentRelatedCode"/> </xs:appinfo></xs:annotation>
</xs:element>
<xs:element name="DocumentRendition" type="ecf:DocumentRenditionType" nillable="true">

<xs:annotation>
<xs:documentation>Descriptors for a rendition of a Document. This is meant to include all the information about the document that is needed to  enter it into the Document Management System.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="DocumentRenditionHash" type="nc:TextType">

<xs:annotation>
<xs:documentation>A hash of the document as it appears in the court record.  This attribute will be populated by either the clerk review process or the court record system.  If the latter, then it will be absent in the RecordDocketingMessage.  It will also be absent in callbacks for rejected documents.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="DocumentReviewDisposition" type="ecf:DocumentReviewDispositionType">

<xs:annotation>
<xs:documentation>The disposition of a document after review.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="DocumentReviewStatus" type="nc:StatusType">

<xs:annotation>
<xs:documentation>The status of a document in the filing review process.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="DocumentReviewStatusCode" type="niem-xs:normalizedString">
<!--Genericode code list DocumentReviewStatusCode.gc-->
<xs:annotation>
<xs:documentation>Code to describe the disposition of the document: accepted or rejected.  Allowable values defined in the specification (schema).</xs:documentation>
<xs:appinfo><clsa:SimpleCodeListBinding codeListURI="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/DocumentReviewStatusCode"/> </xs:appinfo></xs:annotation>
</xs:element>
<xs:element name="DocumentReviewer" type="nc:EntityType">

<xs:annotation>
<xs:documentation>The entity that reviews and accepts or rejects a filing.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="DocumentSignature" type="ecf:DocumentSignatureType">

<xs:annotation>
<xs:documentation>Information describing or constituting the signature on a document submitted to a court for filing</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="DocumentStatus" type="ecf:DocumentStatusType">

<xs:annotation>
<xs:documentation>A status of a document.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="DocumentTypeCode" type="nc:TextType">
<!--Genericode codelist ecf:DocumentTypeCode.gc-->
<xs:annotation>
<xs:documentation>A type of document</xs:documentation>
<xs:appinfo><clsa:SimpleCodeListBinding codeListURI="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/DocumentTypeCode"/> </xs:appinfo></xs:annotation>
</xs:element>
<xs:element name="ElectronicServiceInformation" type="ecf:ElectronicServiceInformationType">

<xs:annotation>
<xs:documentation>Information provided by the filing assembly MDE to the court identifying the persons being served electronically with a copy of this document.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="EntityAssociationTypeCode" type="nc:TextType">
<!--Genericode code list EntityAssociationTypeCode.gc-->
<xs:annotation>
<xs:documentation>A code for the type of relationship between two persons, between two organizations, or between a person and an organization in a case.  Allowable values are set forth in Court Policy.  Examples include parent/child, subsidiary corporation, and chief executive officer.</xs:documentation>
<xs:appinfo><clsa:SimpleCodeListBinding codeListURI="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/EntityAssociationTypeCode"/> </xs:appinfo></xs:annotation>
</xs:element>
<xs:element name="FeeExceptionReasonCode" type="nc:TextType">
<!--Genericode code list FeeExceptioneasonCode.gc-->
<xs:annotation>
<xs:documentation>A code for the reason why a filer does not have to pay an otherwise applicable payment.  Allowable values set forth in Court Policy. Examples are in forma pauperis status granted or a fee waiver application submitted with the filing..</xs:documentation>
<xs:appinfo><clsa:SimpleCodeListBinding codeListURI="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/FeeExceptionReasonCode"/> </xs:appinfo></xs:annotation>
</xs:element>
<xs:element name="FeeExceptionSupportingText" type="nc:TextType">

<xs:annotation>
<xs:documentation>Any text needed to support the exemption assertion (reference to a court order, etc.)</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="FilingCompletionDate" type="nc:DateType">

<xs:annotation>
<xs:documentation>the date and time at which the Court Record MDE filing process was completed following the acceptance by the Filing Review MDE</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="FilingDocketingStatusCode" type="niem-xs:normalizedString">
<!--Genericode code list FilingDocketingStatusCode.gc-->
<xs:annotation>
<xs:documentation>The docketing status of the filing or document</xs:documentation>
<xs:appinfo><clsa:SimpleCodeListBinding codeListURI="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/FilingDocketingStatusCode"/> </xs:appinfo></xs:annotation>
</xs:element>
<xs:element name="FilingReviewStatusCode" type="niem-xs:normalizedString">
<!--Genericode code list FilingReviewStatusCode.gc-->
<xs:annotation>
<xs:documentation>Status of the filing as determined by the system sending the callback. Values: accepted, partially accepted (e.g., some documents but not others), rejected.</xs:documentation>
<xs:appinfo><clsa:SimpleCodeListBinding codeListURI="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/FilingReviewStatusCode"/> </xs:appinfo></xs:annotation>
</xs:element>
<xs:element name="FilingStatus" type="ecf:FilingStatusType">

<xs:annotation>
<xs:documentation>The status of a filing</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="ItemAugmentation" type="ecf:ItemAugmentationType" substitutionGroup="nc:ItemAugmentationPoint">

<xs:annotation>
<xs:documentation>An augmentation to a property entity</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="LeadDocumentReview" type="ecf:DocumentReviewType">

<xs:annotation>
<xs:documentation>A review process for a lead document.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="MatchingFiling" type="ecf:MatchingFilingType">

<xs:annotation>
<xs:documentation>The document that is the subject of this query.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="MessageStatusAugmentation" type="ecf:MessageStatusAugmentationType" substitutionGroup="cbrn:MessageStatusAugmentationPoint">

<xs:annotation>
<xs:documentation>A value describing the status of electronic service on a particular recipient.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="OrganizationAssociationAugmentation" type="ecf:OrganizationAssociationAugmentationType" substitutionGroup="nc:OrganizationAssociationAugmentationPoint">

<xs:annotation>
<xs:documentation>The relationship between two organizations.  Example: subsidiary corporation.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="OrganizationAugmentation" type="ecf:OrganizationAugmentationType" substitutionGroup="nc:OrganizationAugmentationPoint">

<xs:annotation>
<xs:documentation>A structure that describes a unit which conducts some sort of business or operations.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="ParticipantID" type="nc:IdentificationType">

<xs:annotation>
<xs:documentation>A unique identifier for an entity participating in a case.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="PersonAssociationAugmentation" type="ecf:PersonAssociationAugmentationType" substitutionGroup="nc:PersonAssociationAugmentationPoint">

<xs:annotation>
<xs:documentation>The relationship of a person to another person in a case.  Allowable values set forth in Court Policy.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="PersonAugmentation" type="ecf:PersonAugmentationType" substitutionGroup="nc:PersonAugmentationPoint">

<xs:annotation>
<xs:documentation>The person playing a role in a case.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="PersonIdentificationCategoryCode" type="niem-xs:normalizedString" substitutionGroup="nc:IdentificationCategoryAbstract">
<!--Genericode code list PersonIdentificationCategoryCode.gc-->
<xs:annotation>
<xs:documentation>A type of person identifier.</xs:documentation>
<xs:appinfo><clsa:SimpleCodeListBinding codeListURI="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/PersonIdentificationCategoryCode"/> </xs:appinfo></xs:annotation>
</xs:element>
<xs:element name="PersonOrganizationAugmentation" type="ecf:PersonOrganizationAssociationAugmentationType" substitutionGroup="nc:PersonOrganizationAssociationAugmentationPoint">

<xs:annotation>
<xs:documentation>The relationship of a person to an organization in a case.  Allowable values set forth in Court Policy.  An example is the relationship between an attorney and the law firm.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="ReceivingMDELocationID" type="nc:IdentificationType">

<xs:annotation>
<xs:documentation>The location of the service MDE associated with the person receiving service.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="ReceivingMDEProfileCode" type="niem-xs:normalizedString">

<xs:annotation>
<xs:documentation>Code identifying the service interaction profile being used by the receiving MDE.  This list should be extensible to accommodate future service interaction profiles. Each code value is specified within the service interaction profile approved for use with ECF.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="RedactedIndicator" type="niem-xs:boolean">

<xs:annotation>
<xs:documentation>An indicator that sensitive information has been removed from this rendition of the document.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="RedactionRequiredIndicator" type="niem-xs:boolean">

<xs:annotation>
<xs:documentation>Indicator by the filer that the document must be redacted by the court.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="RegisterActionDescriptionCode" type="nc:TextType">
<!--Genericode code list RegisterActionDescriptionCode.gc-->
<xs:annotation>
<xs:documentation>The docket code used by the court for the type of document submitted. Allowable values set forth in Court Policy.</xs:documentation>
<xs:appinfo><clsa:SimpleCodeListBinding codeListURI="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/RegisterActionDescriptionCode"/> </xs:appinfo></xs:annotation>
</xs:element>
<xs:element name="RelatedCaseAssociationTypeCode" type="nc:TextType">
<!--Genericode code list RelatedCaseAssociationTypeCode.gc-->
<xs:annotation>
<xs:documentation>Nature of the relationship between the current case and the related case.  Allowable values to be set forth in Court Policy. Examples: associated, consolidated, related.</xs:documentation>
<xs:appinfo><clsa:SimpleCodeListBinding codeListURI="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/RelatedCaseAssociationTypeCode"/> </xs:appinfo></xs:annotation>
</xs:element>
<xs:element name="RelationActivityAssociationAugmentation" type="ecf:RelatedActivityAssociationAugmentationType" substitutionGroup="nc:RelatedActivityAssociationAugmentationPoint">

<xs:annotation>
<xs:documentation>Case or cases sharing characteristics, such as common parties or events, with this case.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="ReviewedDocument" type="ecf:ReviewedDocumentType" nillable="true">

<xs:annotation>
<xs:documentation>This association will be present for each document that the clerk review process approves for sending to the court record system (where it may be rejected or recorded.)</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="ReviewedDocumentAugmentation" type="ecf:ReviewedDocumentAugmentationType" substitutionGroup="ecf:ReviewedDocumentAugmentationPoint">

<xs:annotation>
<xs:documentation>Additional document information resulting from clerk review.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="ReviewedDocumentAugmentationPoint" abstract="true">

<xs:annotation>
<xs:documentation>Additional document information resulting from clerk review.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="SealDocumentIndicator" type="niem-xs:boolean">

<xs:annotation>
<xs:documentation>Clerk instruction to court record system to seal this document.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="SendingMDELocationID" type="nc:IdentificationType">

<xs:annotation>
<xs:documentation>Location for the MDE to which asynchronous and service messages can be sent. This unique location is self-assigned by the MDE.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="ServiceInteractionProfileCode" type="niem-xs:normalizedString">
<!--Genericode code list ServiceInteractionProfileCode.gc-->
<xs:annotation>
<xs:documentation>An identifier, from a list of allowed values defined in the Court Filing specification, of a message profile supported by this court.</xs:documentation>
<xs:appinfo><clsa:SimpleCodeListBinding codeListURI="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ServiceInteractionProfileCode"/> </xs:appinfo></xs:annotation>
</xs:element>
<xs:element name="ServiceRecipientID" type="nc:IdentificationType">

<xs:annotation>
<xs:documentation>A value assigned to a person, organization or item entity for the purpose of uniquely specifying the entity within a legal service context with respect to e-filing. The service recipient identifier value must be known and understood by both the service provider and the service requester.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="ServiceStatusCode" type="niem-xs:normalizedString">
<!--Genericode code list ServiceStatusCode.gc-->
<xs:annotation>
<xs:documentation>Enumerated values: unrecognized - filerID is not recognized, received - filing received by MDE, sent - filing sent by MDE to service recipient  Future versions may add additional values, such as: delivered - filing delivered to service recipient. (i.e. under the control of the recipient) opened - filing opened by service recipient</xs:documentation>
<xs:appinfo><clsa:SimpleCodeListBinding codeListURI="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ServiceStatusCode"/> </xs:appinfo></xs:annotation>
</xs:element>
<xs:element name="SignatureAugmentation" type="ecf:SignatureAugmentationType">

<xs:annotation>
<xs:documentation>The data or information representing this signature.  It must be valid according to the profile identified by the associated signatureProfileIdentifier.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="SignatureProfileCode" type="niem-xs:normalizedString">
<!--Genericode code list SignatureProfileCode.gc-->
<xs:annotation>
<xs:documentation>An identifier from the Court Filing specification that indicates the Signature Profile governing the structure of this signature.</xs:documentation>
<xs:appinfo><clsa:SimpleCodeListBinding codeListURI="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/SignatureProfileCode"/> </xs:appinfo></xs:annotation>
</xs:element>
<xs:element name="SpecialHandlingInstructionsText" type="nc:TextType">

<xs:annotation>
<xs:documentation>Any additional instructions for printing of a document (such as printing on front and back of the same page or printing on a particular color paper).</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="SubjectAugmentation" type="ecf:SubjectAugmentationType" substitutionGroup="j:SubjectAugmentationPoint">

<xs:annotation>
<xs:documentation>A person or organization alleged or found to have committed a crime or violation.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="SubjectWarrantIssuedIndicator" type="niem-xs:boolean">

<xs:annotation>
<xs:documentation>Indicates whether an arrest warrant has been issued against the defendant.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="VehicleOperatorInsuranceCoverage" type="ecf:InsuranceType">

<xs:annotation>
<xs:documentation>Information concerning whether a driver of a motor vehicle possesses proof of insurance coverage required by law.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:schema>
