ecf-v5.0-cs01/schema/filinglistrequest.xsd

<?xml version="1.0" encoding="US-ASCII"?>
<!--
     Electronic Court Filing Version 5.0
     Committee Specification 01
     18 April 2019
     Copyright (c) OASIS Open 2019. All Rights Reserved.
     Source: https://docs.oasis-open.org/legalxml-courtfiling/ecf/v5.0/cs01/schema/
     Latest version of narrative specification: http://docs.oasis-open.org/legalxml-courtfiling/ecf/v5.0/ecf-v5.0.html
     TC IPR Statement: https://www.oasis-open.org/committees/legalxml-courtfiling/ipr.php
-->
<!-- Generated by BOUML niemtools plug_out (https://github.com/cabralje/niem-tools) -->
<xs:schema targetNamespace="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/filinglistrequest"
 xmlns="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/filinglistrequest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:ecf="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" xmlns:filinglistrequest="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/filinglistrequest" xmlns:j="http://release.niem.gov/niem/domains/jxdm/6.1/" xmlns:nc="http://release.niem.gov/niem/niem-core/4.0/" xmlns:structures="http://release.niem.gov/niem/structures/4.0/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clsa="http://reference.niem.gov/niem/specification/code-lists/1.0/code-lists-schema-appinfo/" xmlns:ct="http://release.niem.gov/niem/conformanceTargets/3.0/" xmlns:term="http://release.niem.gov/niem/localTerminology/3.0/" ct:conformanceTargets="http://reference.niem.gov/niem/specification/naming-and-design-rules/3.0/#ExtensionSchemaDocument http://reference.niem.gov/niem/specification/code-lists/1.0/#SchemaDocument" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5.0">
<xs:annotation>
<xs:documentation> Schema for namespace https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/filinglistrequest</xs:documentation>
</xs:annotation><xs:import namespace="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" schemaLocation="ecf.xsd"/><xs:import namespace="http://release.niem.gov/niem/domains/jxdm/6.1/" schemaLocation="niem\domains\jxdm\6.1\jxdm.xsd"/><xs:import namespace="http://release.niem.gov/niem/niem-core/4.0/" schemaLocation="niem\niem-core\4.0\niem-core.xsd"/><xs:import namespace="http://release.niem.gov/niem/structures/4.0/" schemaLocation="niem\utility\structures\4.0\structures.xsd"/><xs:complexType name="FilingListQueryCriteriaType">
<xs:annotation>
<xs:documentation>Criteria limiting the list of filings to be returned.</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="structures:ObjectType">
<xs:sequence>
<xs:element ref="ecf:CaseTrackingID" minOccurs="0" maxOccurs="unbounded"/>
<xs:element ref="j:CaseNumberText" minOccurs="0" maxOccurs="1"/>
<xs:element ref="nc:DateRange" minOccurs="0" maxOccurs="1"/>
<xs:element ref="nc:DocumentIdentification" minOccurs="0" maxOccurs="1"/>
<xs:element ref="nc:DocumentSubmitter" minOccurs="0" maxOccurs="1"/>

</xs:sequence>
</xs:extension>

</xs:complexContent>
</xs:complexType>
<xs:complexType name="GetFilingListRequestMessageType">
<xs:annotation>
<xs:documentation>This is query to get a list of filings by Filer Identification, Case Identifier, or time period.</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="ecf:RequestMessageType">
<xs:sequence>
<xs:element ref="filinglistrequest:FilingListQueryCriteria" minOccurs="1" maxOccurs="1"/>
<xs:element ref="filinglistrequest:GetFilingListRequestMessageAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>

</xs:sequence>
</xs:extension>

</xs:complexContent>
</xs:complexType>
<xs:element name="FilingListQueryCriteria" type="filinglistrequest:FilingListQueryCriteriaType">

<xs:annotation>
<xs:documentation>Criteria limiting the list of filings to be returned.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="GetFilingListRequestMessage" type="filinglistrequest:GetFilingListRequestMessageType">

<xs:annotation>
<xs:documentation>This is query to get a list of filings by Filer Identification, Case Identifier, or time period.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="GetFilingListRequestMessageAugmentationPoint" abstract="true">

<xs:annotation>
<xs:documentation>An extension point for the enclosing message.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:schema>
