ecf-v5.0-cs01/schema/juvenile.xsd

<?xml version="1.0" encoding="US-ASCII"?>
<!--
     Electronic Court Filing Version 5.0
     Committee Specification 01
     18 April 2019
     Copyright (c) OASIS Open 2019. All Rights Reserved.
     Source: https://docs.oasis-open.org/legalxml-courtfiling/ecf/v5.0/cs01/schema/
     Latest version of narrative specification: http://docs.oasis-open.org/legalxml-courtfiling/ecf/v5.0/ecf-v5.0.html
     TC IPR Statement: https://www.oasis-open.org/committees/legalxml-courtfiling/ipr.php
-->
<!-- Generated by BOUML niemtools plug_out (https://github.com/cabralje/niem-tools) -->
<xs:schema targetNamespace="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/juvenile"
 xmlns="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/juvenile" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:hs="http://release.niem.gov/niem/domains/humanServices/4.1/" xmlns:j="http://release.niem.gov/niem/domains/jxdm/6.1/" xmlns:juvenile="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/juvenile" xmlns:nc="http://release.niem.gov/niem/niem-core/4.0/" xmlns:niem-xs="http://release.niem.gov/niem/proxy/xsd/4.0/" xmlns:structures="http://release.niem.gov/niem/structures/4.0/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clsa="http://reference.niem.gov/niem/specification/code-lists/1.0/code-lists-schema-appinfo/" xmlns:ct="http://release.niem.gov/niem/conformanceTargets/3.0/" xmlns:term="http://release.niem.gov/niem/localTerminology/3.0/" ct:conformanceTargets="http://reference.niem.gov/niem/specification/naming-and-design-rules/3.0/#ExtensionSchemaDocument http://reference.niem.gov/niem/specification/code-lists/1.0/#SchemaDocument" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5.0">
<xs:annotation>
<xs:documentation> Schema for namespace https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/juvenile</xs:documentation>
</xs:annotation><xs:import namespace="http://release.niem.gov/niem/domains/humanServices/4.1/" schemaLocation="niem\domains\humanServices\4.1\hs.xsd"/><xs:import namespace="http://release.niem.gov/niem/domains/jxdm/6.1/" schemaLocation="niem\domains\jxdm\6.1\jxdm.xsd"/><xs:import namespace="http://release.niem.gov/niem/niem-core/4.0/" schemaLocation="niem\niem-core\4.0\niem-core.xsd"/><xs:import namespace="http://release.niem.gov/niem/proxy/xsd/4.0/" schemaLocation="niem\proxy\xsd\4.0\xs.xsd"/><xs:import namespace="http://release.niem.gov/niem/structures/4.0/" schemaLocation="niem\utility\structures\4.0\structures.xsd"/><xs:complexType name="CaseAugmentationType">
<xs:complexContent>
<xs:extension base="structures:AugmentationType">
<xs:sequence>
<xs:element ref="hs:DelinquentAct" minOccurs="0" maxOccurs="1"/>
<xs:element ref="hs:DependencyPetition" minOccurs="0" maxOccurs="unbounded"/>
<xs:element ref="hs:JuvenileAbuseNeglectAllegation" minOccurs="0" maxOccurs="1"/>
<xs:element ref="hs:JuvenileCase" minOccurs="1" maxOccurs="1"/>
<xs:element ref="hs:ParentChildAssociation" minOccurs="0" maxOccurs="unbounded"/>
<xs:element ref="j:Arrest" minOccurs="0" maxOccurs="1"/>

</xs:sequence>
</xs:extension>

</xs:complexContent>
</xs:complexType>
<xs:complexType name="IncidentAugmentationType">
<xs:complexContent>
<xs:extension base="structures:AugmentationType">
<xs:sequence>
<xs:element ref="j:IncidentViolatedStatuteAssociation" minOccurs="1" maxOccurs="1"/>

</xs:sequence>
</xs:extension>

</xs:complexContent>
</xs:complexType>
<xs:complexType name="JuvenileAugmentationType">
<xs:complexContent>
<xs:extension base="structures:AugmentationType">
<xs:sequence>
<xs:element ref="hs:JuvenilePlacement" minOccurs="0" maxOccurs="1"/>
<xs:element ref="j:RegisteredSexOffender" minOccurs="0" maxOccurs="1"/>
<xs:element ref="juvenile:PersonEmacipatedIndicator" minOccurs="0" maxOccurs="1"/>

</xs:sequence>
</xs:extension>

</xs:complexContent>
</xs:complexType>
<xs:complexType name="PlacementAugmentationType">
<xs:complexContent>
<xs:extension base="structures:AugmentationType">
<xs:sequence>
<xs:element ref="hs:JuvenilePlacementFacilityAssociation" minOccurs="0" maxOccurs="1"/>
<xs:element ref="hs:JuvenilePlacementPersonAssociation" minOccurs="0" maxOccurs="1"/>

</xs:sequence>
</xs:extension>

</xs:complexContent>
</xs:complexType>
<xs:element name="CaseAugmentation" type="juvenile:CaseAugmentationType" substitutionGroup="nc:CaseAugmentationPoint" nillable="true">

<xs:annotation>
<xs:documentation>A delinquency or dependency case.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="DelinquentActCategoryCode" type="nc:TextType" substitutionGroup="j:IncidentGeneralCategoryAbstract">
<!--Genericode code list DelinquentActCategoryCode.gc-->
<xs:annotation>
<xs:documentation>Code indicating the general category of the offense as set forth in state law. Allowable values set forth in Court Policy. Examples: Attempt, Conspiracy, Accessory before the fact, Accessory after the fact.</xs:documentation>
<xs:appinfo><clsa:SimpleCodeListBinding codeListURI="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/DelinquentActCategoryCode"/> </xs:appinfo></xs:annotation>
</xs:element>
<xs:element name="IncidentAugmentation" type="juvenile:IncidentAugmentationType" substitutionGroup="nc:IncidentAugmentationPoint">

<xs:annotation>
<xs:documentation>The statutory or ordinance section, the violation of which would constitute a crime if committed by an adult. May include a probation violation.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="JuvenileAugmentation" type="juvenile:JuvenileAugmentationType" substitutionGroup="hs:JuvenileAugmentationPoint">

<xs:annotation>
<xs:documentation>A minor who is the subject of a delinquency or dependency case.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="PersonEmacipatedIndicator" type="niem-xs:boolean">

<xs:annotation>
<xs:documentation>Indicator whether a minor has been adjudicated an emancipated person by a court.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="PlacementAugmentation" type="juvenile:PlacementAugmentationType" substitutionGroup="hs:PlacementAugmentationPoint">

<xs:annotation>
<xs:documentation>Information about the person or organization orther than parent or guardian with whom the juvenile lives. Examples: Foster home, foster parents, state institution, hospital, shelter.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:schema>
