ecf-v5.0-cs01/schema/reservedate.xsd

<?xml version="1.0" encoding="US-ASCII"?>
<!--
     Electronic Court Filing Version 5.0
     Committee Specification 01
     18 April 2019
     Copyright (c) OASIS Open 2019. All Rights Reserved.
     Source: https://docs.oasis-open.org/legalxml-courtfiling/ecf/v5.0/cs01/schema/
     Latest version of narrative specification: http://docs.oasis-open.org/legalxml-courtfiling/ecf/v5.0/ecf-v5.0.html
     TC IPR Statement: https://www.oasis-open.org/committees/legalxml-courtfiling/ipr.php
-->
<!-- Generated by BOUML niemtools plug_out (https://github.com/cabralje/niem-tools) -->
<xs:schema targetNamespace="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/reservedate"
 xmlns="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/reservedate" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:ecf="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" xmlns:nc="http://release.niem.gov/niem/niem-core/4.0/" xmlns:niem-xs="http://release.niem.gov/niem/proxy/xsd/4.0/" xmlns:reservedate="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/reservedate" xmlns:structures="http://release.niem.gov/niem/structures/4.0/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clsa="http://reference.niem.gov/niem/specification/code-lists/1.0/code-lists-schema-appinfo/" xmlns:ct="http://release.niem.gov/niem/conformanceTargets/3.0/" xmlns:term="http://release.niem.gov/niem/localTerminology/3.0/" ct:conformanceTargets="http://reference.niem.gov/niem/specification/naming-and-design-rules/3.0/#ExtensionSchemaDocument http://reference.niem.gov/niem/specification/code-lists/1.0/#SchemaDocument" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5.0">
<xs:annotation>
<xs:documentation> Schema for namespace https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/reservedate</xs:documentation>
</xs:annotation><xs:import namespace="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" schemaLocation="ecf.xsd"/><xs:import namespace="http://release.niem.gov/niem/niem-core/4.0/" schemaLocation="niem\niem-core\4.0\niem-core.xsd"/><xs:import namespace="http://release.niem.gov/niem/proxy/xsd/4.0/" schemaLocation="niem\proxy\xsd\4.0\xs.xsd"/><xs:import namespace="http://release.niem.gov/niem/structures/4.0/" schemaLocation="niem\utility\structures\4.0\structures.xsd"/><xs:complexType name="ReserveCourtDateMessageType">
<xs:annotation>
<xs:documentation>A request to allocate a court date on the schedule.</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="ecf:CaseFilingType">
<xs:sequence>
<xs:element ref="ecf:CaseParticipantRoleCode" minOccurs="0" maxOccurs="1"/>
<xs:element ref="nc:Case" minOccurs="0" maxOccurs="1"/>
<xs:element ref="reservedate:EstimatedDuration" minOccurs="0" maxOccurs="1"/>
<xs:element ref="reservedate:PotentialStartTimeRange" minOccurs="0" maxOccurs="unbounded"/>
<xs:element ref="reservedate:ReserveCourtDateMessageAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>

</xs:sequence>
</xs:extension>

</xs:complexContent>
</xs:complexType>
<xs:element name="EstimatedDuration" type="niem-xs:duration">

<xs:annotation>
<xs:documentation>The estimated duration of a court hearing</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="PotentialStartTimeRange" type="nc:DateRangeType">

<xs:annotation>
<xs:documentation>A time before which a court date must begin</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="ReserveCourtDateMessage" type="reservedate:ReserveCourtDateMessageType">

<xs:annotation>
<xs:documentation>A request to allocate a court date on the schedule.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="ReserveCourtDateMessageAugmentationPoint" abstract="true">

<xs:annotation>
<xs:documentation>An extension point for the enclosing message.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:schema>
