ecf-v5.0-cs01/schema/reviewfilingcallback.xsd

<?xml version="1.0" encoding="US-ASCII"?>
<!--
     Electronic Court Filing Version 5.0
     Committee Specification 01
     18 April 2019
     Copyright (c) OASIS Open 2019. All Rights Reserved.
     Source: https://docs.oasis-open.org/legalxml-courtfiling/ecf/v5.0/cs01/schema/
     Latest version of narrative specification: http://docs.oasis-open.org/legalxml-courtfiling/ecf/v5.0/ecf-v5.0.html
     TC IPR Statement: https://www.oasis-open.org/committees/legalxml-courtfiling/ipr.php
-->
<!-- Generated by BOUML niemtools plug_out (https://github.com/cabralje/niem-tools) -->
<xs:schema targetNamespace="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/reviewfilingcallback"
 xmlns="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/reviewfilingcallback" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:ecf="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" xmlns:reviewfilingcallback="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/reviewfilingcallback" xmlns:structures="http://release.niem.gov/niem/structures/4.0/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:clsa="http://reference.niem.gov/niem/specification/code-lists/1.0/code-lists-schema-appinfo/" xmlns:ct="http://release.niem.gov/niem/conformanceTargets/3.0/" xmlns:term="http://release.niem.gov/niem/localTerminology/3.0/" ct:conformanceTargets="http://reference.niem.gov/niem/specification/naming-and-design-rules/3.0/#ExtensionSchemaDocument http://reference.niem.gov/niem/specification/code-lists/1.0/#SchemaDocument" elementFormDefault="qualified" attributeFormDefault="unqualified" version="5.0">
<xs:annotation>
<xs:documentation> Schema for namespace https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/reviewfilingcallback</xs:documentation>
</xs:annotation><xs:import namespace="https://docs.oasis-open.org/legalxml-courtfiling/ns/v5.0/ecf" schemaLocation="ecf.xsd"/><xs:import namespace="http://release.niem.gov/niem/structures/4.0/" schemaLocation="niem\utility\structures\4.0\structures.xsd"/><xs:complexType name="NotifyFilingReviewCompleteMessageType">
<xs:annotation>
<xs:documentation>The asynchronous message from the Filing Review MDE to the Filing Assembly MDE conveying information concerning the court actions on the documents submitted for filing in a ReviewFilingMessage.</xs:documentation>
</xs:annotation>
<xs:complexContent>
<xs:extension base="ecf:CallbackMessageType">
<xs:sequence>
<xs:element ref="reviewfilingcallback:NotifyFilingReviewCompleteMessageAugmentationPoint" minOccurs="0" maxOccurs="unbounded"/>

</xs:sequence>
</xs:extension>

</xs:complexContent>
</xs:complexType>
<xs:element name="NotifyFilingReviewCompleteMessage" type="reviewfilingcallback:NotifyFilingReviewCompleteMessageType">

<xs:annotation>
<xs:documentation>The asynchronous message from the Filing Review MDE to the Filing Assembly MDE conveying information concerning the court actions on the documents submitted for filing in a ReviewFilingMessage.</xs:documentation>
</xs:annotation>
</xs:element>
<xs:element name="NotifyFilingReviewCompleteMessageAugmentationPoint" abstract="true">

<xs:annotation>
<xs:documentation>An extension point for the enclosing message.</xs:documentation>
</xs:annotation>
</xs:element>
</xs:schema>
